services:
  db:
    image: postgres:16-alpine
    container_name: strapi_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  strapi:
    build: .
    container_name: strapi_app
    depends_on:
      - db
    env_file:
      - .env
    environment:
      NODE_ENV: production
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
    ports:
      - "1337:1337"

volumes:
  db_data: